@import url("httpx://fonts.googleapls.com/css?family=Acme|Lobstar|Patua+One|Rubik|Sniglet");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin sans', sans-serif;
}
 /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 90vh;
}
.aboutimg{
	width: 100%;
	height: 250px !important;
}
.features{
	padding: 100px 0px;
}
h1{
	text-align: center;
	padding-bottom: 30px;
}
.feature-img img{
width: 100%;
}
.price{
	width: 50px;
	height: 50px;
	background: #ff5722;
	color: #fff;
	font-weight: 600;
	border-radius: 50px;
	padding: 10px;
	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	position: absolute;
	left: 20px;
	bottom: -20px;
}
.feature-img{
	position: relative;
}
.rating{
	padding: 3px;
	float: right;
	background:#fff;
	bottom: -1px;
	right: 0;
	position: absolute;

}
.features .fa{
	font-size: 15px;
	color: #ff5722;
}
.feature-details{
	padding: 20px;
	text-align: justify;
}
.feature-details h4{
	font-weight: 600;
	margin-top: 20px;
}
.feature-details .fa{
	margin-right: 5px;
}
.feature-box{
	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	margin-bottom: 30px;
}
.gallery{
	padding: 100px 0;
	background: #efefef;
}
.gallery-box img{
	width: 90%;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.gallery-box img:hover{
	transform: scale(1.1);

}
.gallery-box h4{
	display: block;
	color: #fff;
	text-shadow: -2px 2px 2px #000;
	font-weight: 600;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-15%,-15%);
}
.gallery-box {
	position: relative;
	margin-bottom: 30px;
}
.banner-highlights{
	width: 100%;
	padding: 60px 0;
	background: rgba(0,0,0,0.7);
	text-align: center;color: #fff;
}
.booking-btn {
	text-decoration: none;
	color: #272727;
	border: 2px solid #fff;
	background: #fff;
	border-radius: 25px;
	padding: 14px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	font-weight: 700;
	transition: 0.3s all;
}
.booking-btn:hover{
	color: #fff;
	background: none;
	border: 2px solid #fff;
}
.users-feedback{
	padding: 100px 0px;
}
.user-review{
	text-align: center;
	box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
	padding-bottom: 50px;
}
.user-review p{
	padding: 40px ;
}
.users-feedback img{
	width: 70px;
	height: 70px;
	border-radius: 70px;
	position: relative;
	margin: -30px 0px 20px 140px;
}
.user-review p::before{
content: '\201d';
display: block;
position: absolute;
font-size: 100px;
color: #6495ed;
font-family: sans-serif;
left: 44%;
top: -20px;
}
.footer{
	padding: 100px 20px;
	background-image: linear-gradient(#2d557d,#9610fb);
	color: #fff;
}
.footer-logo{
	width: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer h4{
	text-align: left;
	margin-top: 15px;
	margin-bottom: 25px;
}
.footer p{
	font-size: 12px;
	text-align: justify;
	padding-right: 35px;
}
.footer .row .fa{
	padding-right: 20px;
	font-size: 15px;
}
.footer hr{
	margin-top: 10px;
	background: #efefef;
}
.fa-heart{
	margin: 0 5px;
	color: #f44336;
}
.footer .copyright{
	text-align: center;
}